.one {
    height:100vh;
    margin:0;
    padding:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    flex-direction: column;
}
a {
    background-color:purple;
    color:white;
    margin-top:50vh;
    font-size:2rem;
    padding:20px;
    transition: 1s ease-in-out;
}
a:hover {
    background-color: aliceblue;
    color:black;
    transition: 1s ease-in-out;
}
.image {
    display:flex;
    align-items: center;
    justify-content: center;
    width:400px;
    height:150px;
    object-fit: cover;
    overflow: hidden;
    padding:40px;
    background-color: antiquewhite;
    margin:10px;
}
.image img {
    box-shadow: 5px 5px 5px black;;
}