body {
    margin:0;
    padding:0;
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
    box-sizing: border-box;
}
.container {
    width:100%;
    height:100vh;
    background: #f2e9ff;
    display:flex;
    align-items: center;
    justify-content: center;
}
.gallery {
    display:flex;
    align-items: center;
    justify-content: center;
}
.img-box {
    width:300px;
    height:300px;
    background-color:white;
    overflow-y: hidden;
    transition: ease-in-out 0.5s;
    display:flex;

}
.img-box:nth-child(2) {
background-color: white;
}
.img-box:nth-child(3) {
background-color: white;
}
.img-box:hover {
    width:900px;
    height:300px;
    cursor: pointer;
}

.one{
    width:300px;
    height:300px;
    min-width: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.one img {
    width:150px;
    height:150px;
}
.text {
    min-width:300px;
    width:300px;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.zdj {
    min-width:300px;
    width:300px;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(/guitar-zdj.jpg);
    background-position: center;
    background-size: cover;
}
.zdj2 {
    min-width:300px;
    width:300px;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(/miks-zdj.jpg);
    background-position: center;
    background-size: cover;
}
.zdj3 {
    min-width:300px;
    width:300px;
    height:300px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: url(/nagrywanie-zdj.jpg);
    background-position: center;
    background-size: cover;
}
.aling{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
